name: 'Customer Repo CI/CD'
on:
  pull_request:
    branches:
      - 'main'
jobs:
  algosec-risk-analysis:
     name: 'Algosec Risk Analysis'
     runs-on: ubuntu-latest
     steps:
        - name: debug
          uses: hmarr/debug-action@v2
        - name: Algosec Risk Analysis Action
          uses: algosec/risk-analysis-action@v0.0.2
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            GITHUB_SHA: ${{ github.sha }}
            GITHUB_WORKSPACE: ${{ github.workspace }}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            API_URL: ${{ secrets.API_URL }}
            TENANT_ID: ${{ secrets.TENANT_ID }}
            CF_LOGIN_API: ${{ secrets.CF_LOGIN_API }}
            CF_CLIENT_ID: ${{ secrets.CF_CLIENT_ID }}
            CF_CLIENT_SECRET: ${{ secrets.CF_CLIENT_SECRET }}
            FRAMEWORK_TYPE: terraform
            VCS_TYPE: github
